<h1>Restaurants#edit</h1>

<!-- app/views/restaurants/edit.html.erb -->
<%= render "form", restaurant: @restaurant %>

<hr>
<%= link_to restaurants_path do %>
  <i class="fa fa-history"></i> Restaurantes
<% end %>
