<h3>Restaurants#index</h3>
<p>Find me in app/views/restaurants/index.html.erb</p>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
  <% end %>
</ul>

<hr>
<%= link_to "/restaurants/new" do %>
  <i class="fa fa-home"></i> Nuevo Restaurante
<% end %>
