<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>

<!-- app/views/restaurants/new.html.erb -->
<%= render "form", restaurant: @restaurant %>

<hr>
<%= link_to "/restaurants" do %>
  <i class="fa fa-history"></i>Restaurantes
<% end %>
